body {
    background: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 20%);
    font-family: "Myriad Pro Light", "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
}

p, ul {
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

a:link, a:visited {
    color: hsl(200, 100%, 40%);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 6em;
}

h2 {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2em;
}

h3 {
    font-weight: bold;
    font-size: 1.3em;
}

h4 {
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    line-height: 2em;
    background: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 82%);
    border-left: none;
    border-right: none;
    padding: 0em 0.5em;
}

h4 code {
    border: none;
    background: none;
    padding: 0px;
    color: hsl(0, 0%, 20%);
}

h5 {
   font-weight: normal;
   font-style: italic;
   font-size: 1em;
}

hr {
    height: 2px;
    border: none;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
    border-top: 1px solid hsl(0, 0%, 86%);
    margin: 40px 0px;
}

pre {
    display: block;
    padding: 1em;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    background: white;
    border-radius: 5px;
}

code {
    font-family: "Monaco", "Inconsolata", "Menlo", monospace;
    font-size: 0.85em;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 0.1em 0.3em;
}

pre code {
    background: none;
    border: none;
    padding: 0px;
}

#fork-me {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    height: 140px;
    text-indent: -9999px;
    background-image: url("fork-me.png");
    border: none;
    text-decoration: none;
    background-color: transparent;
}

#logo a {
    margin: auto;
    margin-top: -20px;
    margin-bottom: 40px;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 150px;
    height: 30px;
    text-indent: -999em;
    overflow: hidden;
    background: url("logo.png");
    background-repeat: no-repeat;
    -webkit-background-size: 300px 60px;
    -moz-background-size: 300px 60px;
    background-size: 300px 60px;
    background-position: -150px 0px;
}

#logo a:hover {
    outline: 0;
    background-position: -150px -30px;
}

#logo a:active {
    outline: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    #fork-me {
        background-image: url("fork-me@2x.png") !important;
        -webkit-background-size: 140px 140px;
    }
}

.content {
    max-width: 760px;
    margin: 0px auto;
    padding: 20px;
}

.content h1:first-of-type {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.0em;
}

.content p:first-of-type {
    text-align: center;
    color: hsl(0, 0%, 53%);
    font-size: 1.3em;
    margin-top: 0em;
}

.content p:first-of-type em {
    font-style: normal;
}


.content p:first-of-type code {
    color: hsl(0, 0%, 20%);
}
